.menu-container {
  margin-top: 2rem;
  text-align: center;

  .submenu {
    margin-bottom: 2rem;
  }

  .description {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    margin-bottom: 4rem;
    width: 100%;
  }

  ul {
    text-align: left;
    list-style: none;
    margin-left: 1rem;
  }

  img {
    width: 50%;
    border-radius: 15rem;
  }

  h5 {
    text-align: left;
  }

  p {
    margin: 0;
  }
}

@media (min-width: 550px) {
  .menu-container {
     .description {
      width: 50%;
    }

    ul {
      margin-left: 0;
      text-align: center;
    }

    h5 {
      text-align: center;
    }

    img {
      width: 30%;
    }
  }
}
