.app {
  position: relative;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.covid-notice {
  position: relative;
  background-color: #cae2ea;
  padding: 20px;

  & > div {
    display: block;
  }
}
