.footer {
  visibility: hidden;
  position: relative;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  bottom: 0;
  text-align: center;

  address {
    font-style: normal;
    font-size: 1.2rem;
  }

  a {
    text-decoration: none;
    font-size: 1.2rem;
  }
}

@media (min-width: 550px) {
  .footer {
    visibility: visible;
  }
}