.home-container {
  padding-top: 2rem;
  text-align: center;
}

.description {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
}

.fantasia {
  position: relative;
  width: 100% !important;
  margin-bottom: 2rem;
  border-radius: 2rem;
}

@media (min-width: 550px) {
  .description {
    width: 80%;
  }
  
  .fantasia {
    width: 80% !important;
  }
}


