.home-container {
  margin-top: 2rem;
  text-align: center;
}

.carousel {
  width: 100%;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.description {
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: justify;
}

.home-image {
  width: 100%;
}

@media (min-width: 550px) {
  .carousel {
    margin: 0 auto 2rem;
    width: 80%;
  }

  .description {
    width: 80%;
  }
  
  .home-image {
    width: 300px;
  }
}


